<h1>Cat facts</h1>

<div id="cat_facts">
  <% @cat_facts[:facts].each do |content| %>
    <div>
        <%= content[:fact] %>
        <%if !Current.session.user.likes?(content[:id]) %>
        <%= button_to "Like", create_likes_path, method: :post, params: {fact_id: content[:id]} %>
        <%else%>
        <%= button_to "Remove like", destroy_likes_path, method: :delete, params: {fact_id: content[:id]} %>
        <%end%>
        <br>
    </div>
  <% end %>
  <% if @cat_facts[:current_page] > 1%>
 <a href="/cat_facts/index?page=<%=@cat_facts[:current_page] - 1%>">Previous page</a>
 <%end%>
  <% if @cat_facts[:current_page] < @cat_facts[:last_page]%>
 <a href="/cat_facts/index?page=<%=@cat_facts[:current_page] + 1%>">Next page</a>
 <%end%>
</div>
